{% extends "base.html" %}
{% block content %}
    <div class="home">
  {# Commented out until the next event, e,g., FOSDEM:    
    <h2>Currently: 37C3</h2>
    <p> <a href="https://linmob.net/37c3/">At <strong>37C3</strong> and have an <em>unlocked</em> bootloader? Click here!</a> </p>
    <br>
  #}
    <h2 class="post-list-heading">Posts</h2>
    <ul class="post-list">
        {% for page in paginator.pages %}
            <li>
                <span class="post-meta">
                    {% if page.date %}
                        {{ page.date | date(format="%b %-d, %Y") }}
                        {% endif %}</span>
                        <h3>
                            <a class="post-link" href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        </h3>
                {{ page.summary | safe }}
            </li>
        {% endfor %}
    </ul>
    </div>
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous | safe }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
            <a class="next" href="{{ paginator.next | safe }}">Next ›</a>
        {% endif %}
    </nav>
{% endblock content %}
